
@{
    ViewBag.Title = "Cargar Excel";
}
<div class="container">
    <h2>CargarExcel</h2>

    @using (Html.BeginForm("CargarExcel", "Dispositivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />

            <input type="submit" value="Upload" />

            @ViewBag.Message

        </div>


    }
</div>