@model IEnumerable<Administracion.BusinessLayer.Dto.EstatusDelDispositivo>

@{
    ViewBag.Title = "Estatus de dispositivo";
}

<div class="container">

    <h2>Lista de estatus de dispositivo</h2>

    <p>
        @Html.ActionLink("Agregar nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a href="~/EstatusDelDispositivo/Edit/@item.Id" class="btn btn-warning">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    <a href="~/EstatusDelDispositivo/Delete/@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash text-white"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>