@model IEnumerable<Administracion.BusinessLayer.Dto.TipoDeAgencia>

@{
    ViewBag.Title = "Tipo de agencia";
}
<div class="container">

    <h2>Tipo de agencia</h2>

    <p>
        @Html.ActionLink("Agregar nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a href="~/TipoDeAgencia/Edit/@item.Id" class="btn btn-warning">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    <a href="~/TipoDeAgencia/Delete/@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash text-white"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
